<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">  
</head>
<body><%- include('../includes/navigation.ejs') %>
    <main>
        <form class="book-form" action="/admin/<% if(edit) {%>edit-book<%}else{%>add-book<%}%>" method="POST">
            <div class="form-control">
                <h2 class="form-item">Add books</h2>
            <div class="form-item">
                <label for="bk-nm">Book name</label>
                <input type="text" name="bk-name" id="bk-nm" value="<% if(edit) {%><%=bk.bookName%><%}%>" required>
            </div>
            <div class="form-item">
                <label for="bk-author">Book Author</label>
                <input type="text" name="bk-author" id="bk-author"value="<% if(edit) {%><%=bk.bookAuthor%><%}%>" required>
            </div>
            <div class="form-item">
                <label for="bk-ImageUrl">Book Image Url</label>
                <input type="text" name="bk-ImageUrl" id="bk-ImageUrl" value="<% if(edit) {%><%=bk.bookImage%><%}%>" required>
            </div>
            <div class="form-item">
                <label for="bk-price">Price</label>
                <input type="number" name="bk-price" id="bk-price" step="0.01" value="<% if(edit) {%><%=bk.bookPrice%><%}%>" required>
            </div>
            <div class="form-item">
                <label for="bk-desc">Description</label>
                <textarea name="bk-desc" id="bk-desc" rows="5" required><% if(edit) {%><%=bk.bookDesc%><%}%></textarea>
            </div>
            <%if(edit){%>
                <input type="hidden" name="bkId" value="<%=bk.id%>">
            <%}%>
         <button class="form-item btn"><% if(edit) {%>Update Book<%}else{%>Add Book<%}%></button>
        </div> 
        </form>
    </main>
    <%- include('../includes/end.ejs') %>